body{
    background-color: rgb(233, 229, 229);
    font-family: 'Roboto', sans-serif;
    margin: 0;

}
form
{
    margin:0px auto;
    text-align: center;
    width: 300px;
    padding: 20px;
    background-color: black;
    margin-top: 100px;
    border-radius: 10px;
}

form input{
    width:100%;
    padding:10px 0;
    font-size: 20px;
    text-align: center ;
    font-weight: bold;
}
form input:focus{
  outline: none;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width:100%;
    margin-top: 20px;

}
.buttons button{
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;
    font-weight: bold;
}