div{
    text-align: center;
    margin-top: 40px;
}
input{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.btn{
    background-color: dodgerblue;
    color:white;
    border: none;
    border-radius: 5px;
    padding:10px 20px;
    font-size: 17px;
    font-weight: bold;
}
label{
    font-size: 20px;
    font-weight: bolder;
}
img{
    width: 100px;
}